@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  @apply text-base font-sans text-black leading-normal;
}

img {
  @apply max-w-full w-auto block;
}

a {
  @apply text-theme-1 underline;
  transition: 300ms ease-out;

  &:link,
  &:visited {
    @apply text-theme-1;
  }

  &:hover,
  &:active {
    @apply text-theme-2;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @apply font-bold leading-tight text-theme-1;
}

h1,
.h1 {
  @apply text-4xl;

  @screen md {
    @apply text-5xl;
  }
}

h2,
.h2 {
  @apply text-3xl;

  @screen md {
    @apply text-4xl;
  }
}

h3,
.h3 {
  @apply text-2xl;

  @screen md {
    @apply text-3xl;
  }
}

h4,
.h4 {
  @apply text-xl;

  @screen md {
    @apply text-2xl;
  }
}

h5,
.h5 {
  @apply text-lg;

  @screen md {
    @apply text-xl;
  }
}

h6,
.h6 {
  @apply text-lg;
}

ul,
ol {
  @apply pl-5 mb-4;

  li {
    @apply mb-1;
  }

  ul,
  ol {
    @apply mt-1 mb-2;
  }
}

.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl {
  @apply leading-tight;
}

blockquote {
  @apply inline-flex w-full py-8 text-2xl;

  @screen md {
    @apply text-3xl pl-16 leading-tight;
  }
}

.content-loop,
.mce-content-body {

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply block mb-4;
  }

  img {
    &.alignleft {
      @apply inline float-left mr-8 mb-1;
    }

    &.alignright {
      @apply inline float-right ml-8 mb-1;
    }

    &.aligncenter {
      @apply block mx-auto mb-8;
    }
  }
}
