.btn,
a.btn,
input[type="submit"] {
  @apply inline-flex items-center justify-center text-white bg-theme-1 no-underline text-white p-4 cursor-pointer leading-tight;
  transition: 300ms ease-out;

  &:hover {
    @apply bg-theme-2;
  }

  &:disabled,
  &.disabled {
    @apply opacity-75 pointer-events-none;
  }
}
