// ==================================
// Footer
// ==================================
.site-footer {

  > .container{
    @screen md{
      @apply flex flex-wrap justify-between;
    }
  }
  ul{
    @apply list-reset;
  }
  .social-nav-menu{
    @apply flex;
  }
}

// ==================================
// Back to Top
// ==================================
.back-to-top {
  @apply cursor-pointer inline-block h-12 w-8 text-theme-1 fixed text-4xl opacity-0 pin-r pin-b mr-4 mb-2 invisible;
  transition:300ms ease-in-out;
  transition-property:visibility,opacity;
  &.scrolled{
    @apply opacity-75 visible;
  }
  &:hover,
  &:focus,
  &:active {
    @apply opacity-100;
  }

  @screen lg {
    @apply h-8 w-6 text-xl;
  }
} // .back-to-top
