//begin default wordpress gallery styles

.gallery {
  @apply flex flex-row flex-wrap justify-start items-stretch -mx-4;
  width: calc(100% + 2rem);
}

.gallery-item {
  @apply flex flex-col w-full items-center justify-center p-4;
}

.gallery-icon {
  @apply flex flex-col w-full items-center justify-center;

  img {
    @apply w-full;
  }
}

.gallery-columns-1,
.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
  .gallery-item {
    @apply w-full;
  }
}

.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
  .gallery-item {
    @screen sm {
      @apply w-1/2;
    }
  }
}

.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
  .gallery-item {
    @screen md {
      @apply w-1/2;
    }
  }
}

.gallery-columns-3 {
  .gallery-item {
    @screen md {
      @apply w-1/3;
    }
  }
}

.gallery-columns-4 {
  .gallery-item {
    @screen md {
      @apply w-1/4;
    }
  }
}

.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
  .gallery-item {
    @screen md {
      @apply w-1/5;
    }
  }
}

//end wordpress gallery styles
