// ==================================
// Header
// ==================================
.site-header {
  @apply bg-grey-light mb-8;

  >.container {
    @apply flex items-stretch flex-wrap;

    @screen lg {
      @apply flex-no-wrap;
    }
  }

  .logo-toggle-wrap {
    @apply w-full flex items-center justify-between py-2;

    @screen lg {
      @apply w-auto inline;
    }
  }

  .logo,
  .logo>img,
  .logo>svg {
    @apply block w-full;
  }

  .logo-wrap {
    width: 130px;

    @screen lg {
      width: 150px;
    }
  }
}
