// ==================================
// Navigation
// ==================================
.navigation-items-wrap {
  @apply overflow-hidden w-screen -mx-4;
  max-height: 0;
  transition: 500ms ease-out;
  transition-property: max-height;

  &.open {
    max-height: 150vh;
  }

  @screen sm {
    @apply w-full -mx-0;
  }

  @screen lg {
    @apply overflow-visible max-h-none flex justify-end flex-1;
  }
}

.site-navigation-menu {
  @apply list-reset bg-grey-light mb-0;

  @screen lg {
    @apply bg-transparent h-full;
  }

  .dropdown {
    >a {
      width: calc(100% - 48px);
    }

    @screen lg {
      >a {
        width: auto;
      }
    }

    &.open {
      >.item-toggle {
        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }

  a {
    @apply block w-full whitespace-no-wrap h-full inline-flex flex-row items-center justify-start;
    text-decoration: none;

    @screen lg {
      @apply w-auto border-0;
    }
  }

  .item-toggle {
    @apply block relative cursor-pointer;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, .1);

    @screen lg {
      @apply hidden;
    }

    &:after,
    &:before {
      content: "";
      @apply block rounded;
      width: 10px;
      height: 2px;
      background-color: black;
      position: absolute;
      transition: 300ms ease-in-out;
      transition-property: transform, top;
      top: 50%;
    }

    &:before {
      transform: rotate(45deg);
      left: calc(50% - 8px);
    }

    &:after {
      transform: rotate(-45deg);
      left: calc(50% - 2px);
    }
  }

  // ================================
  // Menu items
  // ================================
  .menu-item {
    @apply flex flex-wrap m-0 border-t-1 border-grey relative;

    &.open>.sub-menu {
      @apply block;
      max-height: 50vh;
    }

    &:first-child {
      @apply border-0;
    }

    a {
      @apply inline-flex items-center justify-start;
      min-height: 48px;
    }

    @screen lg {
      @apply border-0 h-full;
      display: list-item;
      min-height: auto;

      a {
        min-height: auto;
      }

      &:hover>.sub-menu {
        @apply opacity-100 visible z-50;
        max-height: 100vh;
      }

      // &:hover > .sub-menu
    }

    // @screen md
  }

  // .menu-item

  // ================================
  // Top level menu items
  // ================================
  >.menu-item {

    >a {
      @apply px-4 py-2;
    }

    @screen lg {
      @apply float-left px-4;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        @apply p-0;
      }
    }

    // @screen md
  }

  // > .menu-item


  // ================================
  // Sub-menu
  // ================================
  .sub-menu {
    @apply list-reset bg-theme-1 w-full m-0 overflow-hidden;
    max-height: 0;
    transition: 500ms ease-in-out;
    transition-property: opacity, visibility, max-height;

    @screen lg {
      @apply absolute w-auto opacity-0 invisible overflow-visible;
      transition: 200ms ease-in-out;
    }

    a {
      @apply text-white w-full no-underline py-2 px-4;
    }

    li.dropdown>a {
      width: calc(100% - 48px);

      @screen lg {
        @apply w-full;
      }
    }

    // a

    // ================================
    // Sub-Menu Sub-menu
    // ================================
    .sub-menu {
      @apply pin-t border-theme-1;
      left: 100%;
    }

    // .sub-menu .sub-menu
  }

  // .sub-menu


  // ================================
  // Sub-Menu items
  // ================================
  .sub-menu .menu-item {

    &.active>a,
    a:hover,
    a:focus,
    a:active {
      @apply bg-theme-2;
    }
  }

  // > .menu-item
}

// .site-navigation-menu

// ================================
// Menu toggle animation
// ================================
.menu-toggle {
  @apply flex cursor-pointer;

  @screen lg {
    @apply hidden;
  }
  .toggle-text-wrap {
    @apply relative flex;
  }
  .toggle-span-wrap {
    @apply relative;
    height: 28px;
    width: 48px;
  }

  .toggle-span-wrap > span {
    @apply block absolute rounded;
    background-color: black;
    height: 4px;
    width: 48px;
    top: 0;
    transition: .25s ease-in-out;
    transition-property: opacity, top, height, transform;

    &:nth-child(2),
    &:nth-child(4) {
      top: 11px;
    }

    &:nth-child(3) {
      top: 22px;
    }

    &:nth-child(4) {
      opacity: 0;
    }
  }

  // .menu-toggle-icon-bars

  &.open {

    .toggle-span-wrap > span {

      &:first-child,
      &:nth-child(3) {
        opacity: 0;
        top: 11px;
        height: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(4) {
        transform: rotate(-45deg);
        opacity: 1;
      }
    }

  }

  // &.open
}

// .menu-toggle

.mobile-nav-items {
  @apply mx-4;

  @screen sm {
    @apply mx-0;
  }

  @screen lg {
    @apply hidden;
  }
}
