.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// .sr-only

.fit-img {
  @apply relative h-full w-full overflow-hidden z-0;

  img {
    @apply block w-full h-full;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &.bg-img {
    @apply absolute pin-t pin-l;

    img {
      @apply h-full;
    }
  }

  &.contain {
    img {
      object-fit: contain;
    }
  }
}

.custom-select {

  @apply relative;

  > select{
    @apply border-1 bg-white border-black rounded-none resize-none appearance-none w-full p-2;
  }

  &:after{
    content:"";
    @apply block absolute;
    width:10px;
    height:10px;
    border-bottom:1px solid;
    border-right:1px solid;
    border-color:black;
    transform:rotate(45deg);
    right:15px;
    top:calc(50% - 7px);
    pointer-events:none;
  }

}
